.saati {
  border: 1px solid;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
}
p {
  position: absolute;
  margin: 0;
}

.saati-12 {
  right: 50%;
  translate: 50% 0;
  top: 10px;
}
.saati-3 {
  right: 10px;
  bottom: 50%;
  translate: 0 50%;
}

.saati-6 {
  right: 50%;
  translate: 50% 0;
  bottom: 10px;
}
.saati-9 {
  bottom: 50%;
  translate: 0 50%;
  left: 10px;
}
.hours,
.minutes,
.seconds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top;
}
.hours {
  background-color: black;
  width: 10px;
  height: 90px;
  rotate: 45deg;
  animation: 123s infinite slide-in linear;
}
.minutes {
  width: 5px;
  height: 200px;
  rotate: 90deg;
  background-color: blue;
  animation: 60s infinite slide-in linear;
}
.seconds {
  width: 3px;
  height: 220px;
  rotate: 180deg;
  background-color: red;
  animation: 3s infinite slide-in linear;
}

@keyframes slide-in {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
